{% extends 'pages/base.html' %}

{% block content %}

<h1 class="page-title center pt-5 mt-5">Add Whisky</h1>

<div class="row pt-5 pb-5 mb-3 pr-4 pl-4">
  <form action="" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">add_a_photo</i>
        <input id="whisky_img" name="whisky_img" type="text">
        <label for="icon_add_a_photo">Add an image link</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">assignment</i>
        <input id="whisky_name" name="whisky_name" type="text">
        <label for="icon_prefix">Whisky Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">subject</i>
        <textarea name="whisky_description" id="whisky_description" class="materialize-textarea"></textarea>
        <label for="icon_telephone">Whisky Description</label>
      </div>
    </div>

<div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">local_drink</i>
        <input id="number_water" name="number_water" type="text">
        <label for="icon_prefix">Scoring: Water</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">local_drink</i>
        <input id="number_ginger" name="number_giner" type="text">
        <label for="icon_prefix">Scoring: Ginger</label>
      </div>
    </div>
        <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">local_drink</i>
        <input id="number_coke" name="number_coke" type="text">
        <label for="icon_prefix">Scoring: Coke</label>
      </div>
    </div>
        <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">local_drink</i>
        <input id="number_green_tea" name="number_green_tea" type="text">
        <label for="icon_prefix">Scoring: Green Tea</label>
      </div>
    </div>


  </form>
</div>
{% endblock %}