{% extends 'layout/base.html' %}

{% block content %}
<!--Add drink page - users are allowed to add new drink-->
<h1 class="page-title center pt-5 mt-5">Add Drink</h1>

<div class="row add-form pt-5 pb-5 mb-3 pr-4 pl-4">
  <form action="{{ url_for('insert_whisky') }}" method="POST" class="col s12">
    <div class="row">
    <!--Whisky category-->
      <div class="input-field col s12">
        <i class="material-icons prefix">polly</i>
        <select id="category" name="category_name">
          <option value="" disabled selected>Choose your option</option>
          {% for cat in categories %}
          <option value="{{cat.category_name}}">{{cat.category_name}}</option>
          {% endfor %}
        </select>
        <label>Select Whisky</label>
      </div>
    </div>
    <!--Users can paste link to the image-->
    <div class="row mb-2 browser-default">
      <div class="input-field col s12 browser-default">
        <i class="material-icons prefix browser-default">add_a_photo</i>
        <input id="whisky_img" name="whisky_img" type="text">
        <label for="icon_add_a_photo browser-default">Add an image link</label>
      </div>
    </div>
      <!--Whisky name-->
    <div class="row mb-2">
      <div class="input-field col s12">
        <i class="material-icons prefix">assignment</i>
        <input id="whisky_name" name="whisky_name" type="text">
        <label for="icon_prefix">Whisky Name</label>
      </div>
    </div>
    <!--Description about whisky-->
    <div class="row mb-2">
      <div class="input-field col s12">
        <i class="material-icons text-test prefix">subject</i>
        <textarea name="whisky_description" id="whisky_description" class="materialize-textarea"></textarea>
        <label for="icon_telephone">Whisky Description</label>
      </div>
    </div>
    <!--Scoring system-->
    <!--Water-->
    <div class="row mb-2">
      <div class="input-field col s12">
        <i class="material-icons prefix"><img class="icon-form pl-2" src="{{ url_for('static', filename='img/water.svg') }}" alt="Water"></i>
        <input id="number_water" name="number_water" type="text">
        <label for="icon_prefix">Scoring: Water</label>
      </div>
    </div>
    <!--Ginger Ale-->
    <div class="row mb-2">
      <div class="input-field col s12">
        <i class="material-icons prefix"><img class="icon-form" src="{{ url_for('static', filename='img/ginger_ale.svg') }}" alt="Ginger ale"></i>
        <input id="number_ginger" name="number_ginger" type="text">
        <label for="icon_prefix">Scoring: Ginger ale</label>
      </div>
    </div>
    <!--Coke-->
    <div class="row mb-2">
      <div class="input-field col s12">
        <i class="material-icons prefix"><img class="icon-form pl-2" src="{{ url_for('static', filename='img/coke.svg') }}" alt="Coke"></i>
        <input id="number_coke" name="number_coke" type="text">
        <label for="icon_prefix">Scoring: Coke</label>
      </div>
    </div>
    <!--Green Tea-->
    <div class="row mb-2">
      <div class="input-field col s12">
        <i class="material-icons prefix"><img class="icon-form" src="{{ url_for('static', filename='img/green_tea.svg') }}" alt="Green Tea"></i>
        <input id="number_green_tea" name="number_green_tea" type="text">
        <label for="icon_prefix">Scoring: Green Tea</label>
      </div>
    </div>
    <!--Submit Form-->
    <!--Users can easily add a new drink by clicking "Add"-->
    <div class="row">
      <button class="add btn waves grey" type="submit" name="action">Add
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
{% endblock %}