{% extends 'layout/base.html' %}

{% block content %}
<section class="contact">

<div class="row">
    <div class="col s12 mx-auto">

<div class="container">
    <div class="row">
        <div class="col m10 offset-m1 s12">
            <h2 class="center-align page-title mt-5 pt-5 pb-5">Drop us a line</h2>
                <div class="row">
                <form id="contact-form" method="POST" class="col s12">
                <!--First Name-->
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" class="validate" name="name" id="name" required>
                            <label for="first_name">First Name</label>
                        </div>
                <!--Last Name-->
                        <div class="input-field col s12">
                            <input id="last_name" type="text" class="validate" required>
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                <!--Email-->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                <!--Message-->
                    <div class="row">
                        <div class="input-field col s12">
                          <textarea id="message" class="materialize-textarea" required></textarea>
                          <label for="message">Message</label>
                        </div>
                    </div>
                    <div class="row pt-3 pb-4 mb-5">
                        {% include 'components/send_message.html' %}
                    </div>
                        </form>
                        </div>
                <!--Send-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}