{% extends 'pages/base.html' %}

{% block content %}

<!--SCOTTISH WHISKY-->



    
    
    

<h1 class="title-drinks center pt-5 mt-5">Scottish</h1>


<div class="card-group pl-3 pr-3">
{% for whisky in whisky %}
<div class="container">
<div class="row">
<div class="col-12">
  <div class="card">
    <img class="card-img-top scottish img-responsive" src="{{ whisky.whisky_img }}" alt="cutty_sark">
    <div class="card-body">
      <h5 class="card-title">{{ whisky.whisky_name }}</h5>
      <p class="card-text">{{ whisky.whisky_description }}</p>
      <table>
        <tr>
          <td>{{ whisky.scoring_water }}</td>
          <td>{{ whisky.number_water }}</td>
        </tr>
        <tr>
          <td>{{ whisky.scoring_ginger }}</td>
          <td>{{ whisky.number_ginger }}</td>
        </tr>
        <tr>
          <td>{{ whisky.scoring_coke}}</td>
          <td>{{ whisky.number_coke }}</td>
        </tr>
        <tr>
          <td>{{ whisky.scoring_greentea}}</td>
          <td>{{ whisky.number_green_tea }}</td>
        </tr>
      </table>
    </div>
  </div>
  </div>
  </div>
  </div>
  {% endfor %}

{% endblock %}