{% extends 'layout/base.html' %}

{% block content %}

<!--SCOTTISH WHISKY-->

<h1 class="page-title center pt-5 mt-5">Scottish</h1>

<div class="card-group pl-3 pr-3">
  {% for whisky in whisky %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
        <div class="card-imgage center">
          <img src="{{ whisky.whisky_img }}" alt="cutty_sark">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ whisky.whisky_name }}</h5>
            <p class="card-text">{{ whisky.whisky_description }}</p>
            <table>
              <tr>
                <td>Water</td>
                <td>{{ whisky.number_water }}</td>
              </tr>
              <tr>
                <td>Ginger Ale</td>
                <td>{{ whisky.number_ginger }}</td>
              </tr>
              <tr>
                <td>Coke</td>
                <td>{{ whisky.number_coke }}</td>
              </tr>
              <tr>
                <td>Green Tea</td>
                <td>{{ whisky.number_green_tea }}</td>
              </tr>
            </table>
            <a href="{{url_for('edit_whisky', whisky_id=whisky._id)}}" class="edit btn waves grey mt-4 mr-2">Edit</a>
            <a href="{{url_for('delete_whisky', whisky_id=whisky._id)}}" class="delete btn waves grey mt-4">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  {% endblock %}