{% extends 'layout/base.html' %} 
{% block content %}

<div class="container pt-4 mt-5">
  <div class="row">
    <div class="col-12">
      <h1 class="center white-text">Login</h1>
      <!--Username-->
      <form id="new-account-form">
        <div class="form-group">
          <label for="newUsername">Username</label>
          <input id="newUsername" type="text" class="form-control white-text" maxlength="40" label="Enter a username" placeholder="Please, enter a username" required>
        </div>
        <!--Password-->
        <div class="form-group">
          <label for="newPasswordInput">Password</label>
          <input id="newPasswordInput" type="password" class="form-control white-text" maxlength="20" minlength="8" placeholder="Please, enter your assword" required>
        </div>
        <button class="btn waves-effect waves-light grey" type="submit" id="sendSignupButton">Login</button>
      </form>
    </div>
  </div>
</div>
                    
    {% endblock %}