   @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

    html {
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
    }
    
    body {
      font-family: "Rubik", sans-serif;
      background-color: black;
    }
    nav{
        background-color:#000000;
    }
    p, h3{
        color: #FFFFFF;
    }
    .logo {
      height: 45px;
    }
    .text, .content{
        letter-spacing: 0.4px;
        opacity: 1px;
        font-size: 1.2rem;  
    }

    /* Media Queries */

    @media only screen and (min-width: 1024px) {
    .content{
        margin-left: 10%;
        margin-right: 10%;
        }
    }
    @media only screen and (max-width: 768px) {
        .bottle{
            height: 400px;
            width: 450px;
        }
    }
    @media only screen and (max-width: 568px) {
        .bottle{
            height: 330px;
            width: 320px;
            padding-right: 20px;
            
        }
        .logo{
            height: 30px;
        }
    }
