@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Rubik', sans-serif;
    background-color: black;
    width: 100%;
    height: 100%;
  }

  .row {
    margin: auto;
    width: 100%;
  }

  a:hover {
     text-decoration: none;
     color: white;
  }

  nav {
    background-color: #000000;
    
  }

.nav-link {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
  
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #606060;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 20px;
}

.nav-link-ltr:hover::before {
  width: 69%;
}

  h3{
      font-weight: bold;
  }

  p,
  h3 {
    color: #FFFFFF;
  }

  .text,
  .content {
    letter-spacing: 0.6px;
    line-height: 2.1rem;
    opacity: 1px;
    font-size: 1.2rem;
  }

  .name {
    font-family: 'Gloria Hallelujah', sans-serif;
    letter-spacing: 4.8px;
    font-size: 2.2rem;
    color: #FFFFFF;
    opacity: 1;
  }

  .logo-navbar {
    height: 50px;
}

  .drinks {
    margin-top: 10px;
  }

  .scoring {
    font-size: 20px;
  }

  .number {
    height: 35px;
    margin-right: 1.7rem;
  }

  .scoring-text {
    color: white;
    font-size: 2rem;
    margin-top: 50px;
    padding-top: 70px;
    text-align: center;
  }

  /* FOOTER */
  .page-footer {
    background-color: #606060;
    margin: auto;
    width: 100%;
  }

  .logo-footer {
    height: 90px;
  }

  .social {
    height: 30px;
    margin-right: 15px;
    margin-top: 7px;
  }

  .address {
    color: #FFFFFF;
    font-size: 1.2rem;
    margin-bottom: 3px;
  }

  /*Sign Up */
.form-group{
    margin-top: 70px;
}

.username,
.password{
    font-size: 1.6rem;
}

/* Drinks */

.card-text{
    color: black;
}
.number{
    margin-bottom: 10px;
}
.card-scoring{
    width: 100%;
}

.page-title{
    color: white;
}

.icon-form{
    height: 30px;
    color: white;
}
.btn{
    border-radius: 3rem;
    color: white;
    
}
.input-field{
    color: white;
}
  /* Media Queries */
  @media only screen and (min-width: 769px) {
    .bottle {
      width: 400px;
      height: 400px;
      margin-right: 140px;
    }
  }

  @media only screen and (min-width: 1024px) {
    .content {
      margin-left: 10%;
      margin-right: 10%;
    }
    .scottish{
        height: 45rem;
    }
    .add-form{
    width: 75%;
}
  }

  @media only screen and (max-width: 768px) {
    .bottle {
      height: 400px;
      width: 450px;
    }
    .logo{
        height: 40px;
    }
    .text,
    h3{
        text-align: center;
    }
  }
  
  @media only screen and (max-width: 568px) {
    .bottle {
      height: 330px;
      width: 320px;
      padding-right: 20px;
    }