html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
    background-color: black;
}
/* Navbar */
nav {
    background-color: black;
}

/* Banner */
.banner {
    width: 100%;
    height: 60%;
}
p{
    color: white;
}
.main-content{
    margin-top: 100px;
}

h3{
    color: white;
}
.glass{
    width: 100%;
    margin: auto;
    height: 80%;
}
ul{
    color: white;
}