<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
  <title>How to drink whisky</title>
</head>

<body>
  <!-- Navigation -->
  <header>
        <nav>
        <div class="container navbar">
            <div class="nav-wrapper">
                <a href="" class="brand-logo" >Logo</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="drinks.html">Drinks</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
    <!-- Mobile navbar-->
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="drinks.html">Drinks</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </div>
            </div>
        </nav>
    </header>

    <!--Banner-->
    <div class="container-responsive">
    
        <img src="https://images.pexels.com/photos/2796105/pexels-photo-2796105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img banner" alt="banner">
    </div>

    <!--Main Content-->
    <div class="container main-content pt-2 center">
        <div class="row">
            <div class="col">
                <p>This is a app about how to drink whisky. To be more precise, this is a app about how whisky has been enjoyed down the centuries, and it offers ideas on how to maximize pleasure when you next look at an off-license shell or back bar. That’s simple, you might think - open the bootle, take a glass and pour liquid into it..and remember to open your mouth when bending your elbow. Well, yes and no. 
                </p>
            </div>
        </div>
    </div>
        
    
    
  


  <!--jQuery/Scripts-->
  <!-- Scripts tags are at the end of the body to improve loading time -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="../static/js/materialize.js"></script>
</body>

</html>