<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}" type="text/css" />
  <title>How to drink whisky</title>
</head>

<body>
  <!-- Navigation -->
  <header>
        <nav>
        <div class="container navbar">
            <div class="nav-wrapper">
                <a href="" class="brand-logo" >Logo</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="drinks.html">Drinks</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
    <!-- Mobile navbar-->
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="drinks.html">Drinks</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                </ul>
            </div>
            </div>
        </nav>
    </header>

    <!--Banner-->
    <div class="container-responsive">
        <img src="https://images.pexels.com/photos/2796105/pexels-photo-2796105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img banner" alt="banner">
    </div>

    <!--Main Content-->

    

       <div class="container main-content pt-2 center">
            <div class="row">
                <div class="col">
                    <p>This is a app about how to drink whisky. To be more precise, this is a app about how whisky has been enjoyed down the centuries, and it offers ideas on how to maximize pleasure when you next look at an off-license shell or back bar. That’s simple, you might think - open the bootle, take a glass and pour liquid into it..and remember to open your mouth when bending your elbow. Well, yes and no. 
                    </p>
                </div>
            </div>
        </div>

    <!--Content (Mixing)-->
    <div class="container center pt-2">
        <div class="row">
        <div class="col">
            <h3>Mixing</h3>
            <img src="../static/img/glass.jpg" class="img-fluid glass">
            <div class="col">
                <p>Any time that whisky has achieved popularity has been when it’s been diluted. Toddies, Slings, grog, Juleps, the Whisky Punch and the Highball are the drinks that elevated whisky from being a burning, neat spirit drunk for effect into something that people enjoyed consuming. The same applies today. The idea that it should only ever be consumed neat is a new phenomenon.
                </p>
               </div> 
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col ml-5 pl-5">
                <ul>
                    <li>Water - It not only helps you to (re)hydrate, but is also an essential companion when enjoying whisky. Not only does adding a drop of water when nosing and tasting allow you to appreciate fully whisky’s aromas, but dilution is good when drinking</li>
                    <li>Ginger Ale - The addition of bubbles to ginger-infused water produces whisky’s finest mixer, as the ginger is a natural partner with the sweet spices in many whiskies. Importantly, ginger also extend the finish of any whisky.</li>
                    <li>Coke - Coke’s ubiquity as a soft drink has helped it become the go-to mixer for many spirits, and whisky is no exception. It was coke that elevated blended Scotch to mass-market appeal in Spain in the 1990s.</li>
                    <li>Green Tea - Green tea is the most common version of this mixer to be used, but the high sugar levels of some brand alter the balance of the drink, making it too saccharine. Sugar is important as green tea will have a dry grip that combines with the oak in the whisky</li>
                    <li>Coconut Water  - Coconut water is good for you, so there’s one reason to drink it. When it works, that almost hidden dry note links with wood to produce a lovely roasted-cobnut note</li>
                </ul>
                </div>
            </div>
        </div>

        <!--Scoring System-->

        <div class="container">
            <div class="row">
                <div class="col"> 
                    <h4>Scoring Systen:</h4>  
                    <ol>
                        <li>Avoid.</li>
                        <li>So-so drink with a clash taking place. Seek another option.</li>
                        <li>Good drink, with everything in balance. I’d be happy with one of these. I might not have two.</li>
                        <li>Great drink. This is where the whisky is beginning to shed some of its seven veils, the drink ism ore than the sum of its two parts.</li>
                        <li>5. The best. A musty-try. The whisky transormed into a munificent drink.</li>
                    </ol>
                </div>
            </div>
        </div>
        
    
    
  


  <!--jQuery/Scripts-->
  <!-- Scripts tags are at the end of the body to improve loading time -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="../static/js/materialize.js"></script>
</body>

</html>