{% block footer %}

        <footer class="page-footer pt-4">
            <div class="container text-center text-md-left">
              <div class="row">
                <div class="col-md-5 col-lg-5 mt-md-1 mt-3 pr-lg-5 mr-lg-5 mr-md-4 pb-5">
                  <a href="{{url_for('index')}}"><img src="{{ url_for('static', filename='img/logo.svg') }}" class="logo1" alt="logo"></a>
                </div>
                <div class="col-md-3 mb-3 pb-3">
                  <ul class="list-unstyled">
                    <li class="address">
                      Lorem ipsum
                    </li>
                    <li class="address">
                      Lorem ipsum
                    </li>
                    <li class="address">
                     Lorem ipsum
                    </li>
                    <li class="address">
                      Lorem ipsum
                    </li>
                    <li class="address">
                      Lorem ipsum
                    </li>
                    <li class="address">
                      Lorem ipsum
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <h5>Follow Us:</h5>
                  <ul class="social list-unstyled">
                    <li>
                    <!--Social media -->
                      <a href="https://twitter.com/plasticoceans" target="_blank" rel="noopener"><img src="assets/icons/twitter.png" alt="twitter-icon"></a>
                      <a href="https://www.facebook.com/PlasticOceans/" target="_blank" rel="noopener"><img src="assets/icons/facebook.png" alt="facebook-icon"></a>
                      <a href="https://www.instagram.com/plasticoceans/" target="_blank" rel="noopener"><img src="assets/icons/insta.png" alt="instagram-icon"></a>
                      <a href="https://www.youtube.com/plastic-oceans-international" target="_blank" rel="noopener"><img src="assets/icons/yt.png" alt="youtube-icon"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
{% endblock %}