{% extends 'base.html'%}

{% block content %}
<!-- Navigation -->
  <header>
        <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href=""><img src="{{ url_for('static', filename='img/logo.svg') }}"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile right" class="right hide-on-med-and-down">
                    <li><a href="drinks.html">DRINKS</a></li>
                    <li><a href="login.html">LOGIN</a></li>
                    <li><a href="register.html">REGISTER</a></li>
                </ul>
    <!-- Mobile navbar-->
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="drinks.html">DRINKS</a></li>
                    <li><a href="login.html">LOGIN</a></li>
                    <li><a href="register.html">REGISTER</a></li>
                </ul>
            </div>
            </div>
        </nav>
    </header>

    <!--Banner-->
    <div class="container-responsive">
        <img src="https://images.pexels.com/photos/2796105/pexels-photo-2796105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="banner img-fluid " alt="banner">
    </div>

    <!--Main Content-->

    

       <div class="container pb-4">
            <div class="row">
                <div class="col sm-12 mx-auto center">
                <h3>Welcome to kurwa kurwa</h3>
                     <p class="content center pl-4">Are you a Whisky lover? Do you think you know it all? Presenting the best ever website on how to really drink whiskey! To be more precise, this is an app about how whisky has been enjoyed down the centuries, also it offers ideas on how to maximize your pleasure and taste when you next look at an off-license shell or back bar. Apparently that’s simple, you might think - open the bottle, take a glass and pour liquid into it.. and remember to open your mouth when bending your elbow. Well, yes and no.                    </p>
                </div>
            </div>
        </div>

    <!--Content (Mixing)-->


    <div class="container">
        <div class="row">
            
            <div class="col-lg-5 col-sm-12 col-mx-auto">
            <h3>Mixing</h3>
                <p class="text">Any time that whisky has achieved popularity has been when it’s been diluted. Toddies, Slings, grog, Juleps, the Whisky Punch and the Highball are the drinks that elevated whisky from being a burning, neat spirit drunk for effect into something that people enjoyed consuming. The same applies today. The idea that it should only ever be consumed neat is a new phenomenon. So, if anyone - friend, bartender, or writer - orders you to drink whisky neat, reach for that bottle of water, my friend, and pour it over their hand - saving some for your dram.
                </p>
            </div> 
            <div class="col-lg-5 col-sm-12 .d-none .d-sm-block">
                <a href=""><img src="{{ url_for('static', filename='img/bottle.jpg') }}"></a>
            </div>
        </div>
    </div>
{% endblock %}