{% block social %}

      <h5>Follow Us:</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://twitter.com/WhiskyExchange" target="_blank" rel="noopener"><img src="{{ url_for('static', filename='img/twitter.svg') }}" class="social" alt="twitter-icon"></a>
            <a href="https://www.facebook.com/thewhiskyexchange" target="_blank" rel="noopener"><img src="{{ url_for('static', filename='img/facebook.svg') }}" class="social" alt="facebook-icon"></a>
            <a href="https://www.instagram.com/whiskyexchange/" target="_blank" rel="noopener"><img src="{{ url_for('static', filename='img/instagram.svg') }}" class="social" alt="instagram-icon"></a>
          </li>
        </ul>
  
{% endblock %}